@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0%;
  margin: 0%;
}
main>section>div,nav>div,footer>div{
  @apply container mx-auto px-5 
}
.ab{
  border-radius: 50% 10% 50% ;


}